/* God knows what goes in here, good luck */
 {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
            margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
            text-align:center; /* Hack for IE5/Win */
            background-color:#000;
            color: #333333;
            direction: ltr;
            font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
            font-size: 11px;
        }
        #footer {
            height: 80px;
        }

        #sidebar{
        	font-size:16px;
        }
        #name{
        	font-size: 20px;
        }
        .content {
            width:600px;
            margin:0px auto; /* Right and left margin widths set to "auto" */
            text-align:left; /* Counteract to IE5/Win Hack */
            padding:15px;
            border:1px solid #333;
            background-color:white;
        }
        h2 {
            line-height: 20px;
            min-height: 20px;
            padding-bottom: 2px;
            vertical-align: bottom;
            color: #1C2A47;
            font-size: 16px;
        }
        a {
            color: #3B5998;
            cursor: pointer;
            text-decoration: none;
        }
}     

       
