/* God knows what goes in here, good luck */
 {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
            margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
            text-align:center; /* Hack for IE5/Win */
            background-color:#000;
            color: #333333;
            direction: ltr;
            font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
            font-size: 11px;
        }
        #footer {
            height: 80px;
        }

        #sidebar{
        	font-size:16px;
        }
        #name{
        	font-size: 20px;
        }
        .content {
            margin:0px auto; /* Right and left margin widths set to "auto" */
            text-align:left; /* Counteract to IE5/Win Hack */
            padding:15px;
            border:1px solid #333;
            background-color:white;
        }

        #columns {
            -webkit-column-count: 3;
            -webkit-column-gap: 10px;
            -webkit-column-fill: auto;
            -moz-column-count: 3;
            -moz-column-gap: 10px;
            -moz-column-fill: auto;
            column-count: 3;
            column-gap: 15px;
            column-fill: auto;
        }

        .item {
            display: inline-block;
            background: #FEFEFE;
            border: 2px solid #FAFAFA;
            box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
            margin: 0 2px 15px;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            column-break-inside: avoid;
            /*padding: 15px;
            padding-bottom: 5px;*/
            background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
            opacity: 1;
            
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            font: 12px/18px Arial, sans-serif;
            color: #333;

        }

        .item img {
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
            margin-bottom: 5px;
        }

        .item a {
            display:block;
            width:100%;
            padding: 15px;
            padding-bottom: 5px;
        }

        #wrapper {
            width: 90%;
            max-width: 1100px;
            min-width: 800px;
            margin: 50px auto;
        }

        h2 {
            line-height: 20px;
            min-height: 20px;
            padding-bottom: 2px;
            vertical-align: bottom;
            color: #1C2A47;
            font-size: 16px;
        }
        a {
            color: #3B5998;
            cursor: pointer;
            text-decoration: none;
        }

        @media (min-width: 960px) {
            #columns {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }

        @media (min-width: 1100px) {
            #columns {
                -webkit-column-count: 5;
                -moz-column-count: 5;
                column-count: 5;
            }
        }

        /*#columns:hover .item:not(:hover) {
            opacity: 0.4;
        }*/
}     

       
