/* God knows what goes in here, good luck */
 {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
            margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
            text-align:center; /* Hack for IE5/Win */
            direction: ltr;
            font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
            font-size: 11px;
            padding-top: 70px;
            margin: 0;
           background: url("http://i.imgur.com/QnKFcHv.jpg") no-repeat #000;

            background-position: center;
            background-size: cover;
         background-attachment: fixed;
}
        

        #footer {
            height: 80px;
        }

    
        #name{
        	font-size: 20px;
        }
        .inner_content{
            width:50%;
            height:300px;
            background-color:black;
            margin:20% auto;
            opacity:0.5;


        }
        .inner_content:hover{
            opacity:0.8;
        }
        .googleFont{
             font-family: 'Pacifico', cursive;
             color: white;
             font-size: 57px;
           }
        .googleFont2{
            font-family: 'Open Sans Condensed', sans-serif;
            color: white;
            font-size: 20px;
        }   
        .content {
            position:absolute;
            width:60%;
            height: auto;
            float:left ;/* Right and left margin widths set to "auto" */
            margin:50px;
            text-align:left; /* Counteract to IE5/Win Hack */
            border:1px solid #333;
            padding:13px;
            background-color:white;
        }
        .recommendation{
            position: relative;
            width:30%;
            height:40%;  
            float:right;
            margin:50px;
            padding:9px;
           background-color:white;
        }

        #columns {
            -webkit-column-count: 3;
            -webkit-column-gap: 10px;
            -webkit-column-fill: auto;
            -moz-column-count: 3;
            -moz-column-gap: 10px;
            -moz-column-fill: auto;
            column-count: 3;
            column-gap: 15px;
            column-fill: auto;
        }

        .item {
            display: inline-block;
            background: #FEFEFE;
            border: 2px solid #FAFAFA;
            box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
            margin: 0 2px 15px;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            column-break-inside: avoid;
            /*padding: 15px;
            padding-bottom: 5px;*/
            background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
            opacity: 1;
            
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            font: 12px/18px Arial, sans-serif;
            color: #333;

        }

        .item img {
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
            margin-bottom: 5px;
        }

        .item a {
            display:block;
            width:100%;
            padding: 15px;
            padding-bottom: 5px;
        }

        #wrapper {
            width: 90%;
            max-width: 90%;
            min-width: 100%;
            max-height: 100%;
            min-height: 90%
            margin: 50px auto;
        }

        a {
            color: #3B5998;
            cursor: pointer;
            text-decoration: none;
        }


        @media (min-width: 960px) {
            #columns {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }

        @media (min-width: 1100px) {
            #columns {
                -webkit-column-count: 5;
                -moz-column-count: 5;
                column-count: 5;
            }
        }

        /*#columns:hover .item:not(:hover) {
            opacity: 0.4;
        }*/
        
}     



       
