{% load url from future %}
{% load staticfiles %}
{% include 'django_facebook/_facebook_js.html' %}

<html><head>
    <title>Connect with Facebook</title>
    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="{% static 'commonplace/style.css' %}" />
    <script src="{{ STATIC_URL }}django_facebook/js/statictest.js" type="text/javascript"></script>

    <title>{% block title %}Commonplace{% endblock %}</title>

</head><body>
<div>
<div class="content">

    <div style="margin-top: 60px;">

        {% if not user.is_authenticated %}

        <div class="inner_content">

            <!--form to call registration via facebook -->
            <form action="{% url 'facebook_connect' %}" method="post">
                <h2>Login with Facebook</h2>
                <br />
                {% csrf_token %}
                <input type="hidden" value="{{ request.path }}" name="next" />
                <div id="facebook_login_js">
                <input onclick="F.connect(this.parentNode.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
                </div>
                <br /><br />
            </form>

           <div id="footer">
      <span style="font-size:.7em; text-align:center">Commonplace Copyright 2014 Clayton Gotwals, Adam Rea, Austin Sims and Kishen Sivalingam.  All rights reserved.  Content presented on Commonplace is property of their respective owners and not owned by Commonplace.</span>
    </div>

        </div>

        {% endif %}


<div id="header_bar">
 
{% if user.is_authenticated %}
<div id="name">
       Welcome {{ user }} to Commonplace <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a><br />
    </div>
    <div id="header">
      <div id="searchbar">
        {% block searchbar %}
          <form action="{% url 'search_items' %}" method="post">{% csrf_token %}
            Search items:
            <input type="text" name="search_string" placeholder="Search...">
            <input type="submit" value="Search">
          </form>
        {% endblock %}
      </div>
      <div id="sidebar">
        {% block sidebar %}
        <a href="{% url 'index' %}">Latest Items</a>&nbsp;
        <a href="{% url 'my_items' %}">My Items</a>&nbsp;
        <a href="{% url 'create_article' %}">Submit Article</a>&nbsp;
        <a href="{% url 'create_picture' %}">Submit Picture</a>&nbsp;
        <a href="{% url 'create_video' %}">Submit Video</a>&nbsp;
        {% endblock %}
      </div>
    </div>
    <hr><br />
    <div id="content">
          {% block content %}{% endblock %}
    </div><br />
    <hr><br />
    
  </body>

            
        {% endif %}

    </div>

</div>

</div>
</body></html>