{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <!-- TODO:  figure out how to actually serve the css file, this isn't working -->
    <link rel="stylesheet" href="{% static 'commonplace/style.css' %}" />
    <title>{% block title %}Commonplace{% endblock %}</title>
  </head>
  <body>
    <div id="login">
      {% if not request.user.is_authenticated %}
      Please log in.
      <form action="{% url 'facebook_connect' %}" method="post">
        {% csrf_token %}
        <!-- TODO: use <input type="image" src="{{ STATIC_URL }}commonplace/images/facebook_login.png"> instead of button. -->
        <input type="submit" value="Login with Facebook" />
      </form>
      {% endif %}
      {% if request.user.is_authenticated %}
      Welcome, {{ request.user.first_name }}! <a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a>
      {% endif %}
    </div>
    <div id="sidebar">
      {% block sidebar %}
      Navigation:&nbsp;
      <a href="{% url 'index' %}">Latest Items</a>&nbsp;
      <a href="{% url 'my_items' %}">My Items</a>&nbsp;
      <a href="{% url 'create_article' %}">Submit Article</a>&nbsp;
      <a href="{% url 'create_picture' %}">Submit Picture</a>&nbsp;
      {% endblock %}
    </div>
    <div id="searchbar">
      {% block searchbar %}
        <form action="{% url 'search_items' %}" method="post">{% csrf_token %}
          Search items:
          <input type="text" name="search_string">
          <input type="submit" value="Search">
        </form>
      {% endblock %}
    </div>
    <hr><br />
    <div id="content">
      {% block content %}{% endblock %}
    </div><br />
    <hr><br />
    <div id="footer">
      <span style="font-size:.7em; text-align:center">Commonplace Copyright 2014 Clayton Gotwals, Adam Rea, Austin Sims and Kishen Sivalingam.  All rights reserved.  Content presented on Commonplace is property of their respective owners and not owned by Commonplace.</span>
    </div>
  </body>
</html>
