{% extends "commonplace/base.html" %}

{% block content %}
	
<h2>Latest items</h2>
{% if latest_items %}
	<ul>
		<div id="wrapper">
		<div id="columns">
		{% for item in latest_items %}

			<div class="item">
				<br></br>
			<p>
				<a href="{% url 'item_detail' item.id %}">
						{% if item.thumbnail %}
							<img src="{{item.thumbnail.url}}" />
						{% endif %}
						{% if item.screenshot %}
							<img src="{{item.screenshot.url}}" />
						{% endif %}
						{{item.title}}
				</a>
			</p>
			</div> 
		{% endfor %}
		</div> </div>
	</ul>
{% else %}
	<p><i>No items available.</i></p>
{% endif %}
{% endblock %}

{% block content1 %}

<h2>Recommended for you</h2>
{% if recommended_items %}
	<ul>
		<div id="wrapper">
		<div id="columns">
		{% for item in recommended_items %}
			<div class="item">
		    <p>
				<a href="{% url 'item_detail' item.id %}">
						{% if item.thumbnail %}
							<img src="{{item.thumbnail.url}}" />
						{% endif %}
						{% if item.screenshot %}
							<img src="{{item.screenshot.url}}" />
						{% endif %}
						{{item.title}}
				</a>
		    </p>
		</div> 
		{% endfor %}
		</div> </div>
	</ul>
{% else %}
	<p><i>You don't have any recommendations yet. Start submitting articles!</i></p>
{% endif %}


{% endblock %}

