{% extends "commonplace/base.html" %}

{% block content %}
	
<h2>Latest items</h2>
{% if latest_items %}
	<ul>
		<div id="wrapper">
		<div id="columns">
	{% for item in latest_items %}
			<div class="item">
			<a href="{% url 'item_detail' item.id %}">
				{% if item.picture %}

				{% endif %}
				{% if item.video %}
				
				{% endif %}
				{% if item.article %}

				{% endif %}
				<p> {{item.title}} </p>
		</a>
		</div> 
	{% endfor %}
	</div> </div>
	</ul>
{% else %}
	<p><i>No items available.</i></p>
{% endif %}

<h2>Recommended for you</h2>
{% if recommended_items %}
	<ul>
		<div id="wrapper">
		<div id="columns">
		{% for item in recommended_items %}
			<div class="item">
			<a href="{% url 'item_detail' item.id %}">
				{% if item.picture %}

				{% endif %}
				{% if item.video %}
				
				{% endif %}
				{% if item.article %}

				{% endif %}
				<p> {{item.title}} </p>
				</a>
			</div>
		{% endfor %}
		</div> </div>
	</ul>
{% else %}
	<p><i>You don't have any recommendations yet. Start submitting articles!</i></p>
{% endif %}

{% endblock %}

