{% extends "commonplace/base.html" %}

{% block content %}
<h1>{{ item.title }}</h1>
<p>
  Categories: 
  {% for c in item.categories.all %}
      <a href="{% url 'items_by_category' c.name %}">{{ c.name }}</a>
  {% endfor %}
</p>
<p>Originally from <a href="{{ item.url }}">{{ item.url }}</a></i></p>
<!-- TODO: use username instead of pk for user detail URL -->
<p>Submitted by <a href="{%url 'user_detail' item.user.pk %}"> {{ item.user.first_name }} {{ item.user.last_name }}</a></p>
<p>{{ item.description }}</p>

{% endblock %}
