{% extends "commonplace/base.html" %}

{% block content %}
<h2>Articles</h2>

{% if my_articles %}
<table border=1>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
	{% for article in my_articles %}
	<tr>
      <td><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></td>
      <td>
        <a href="{% url 'item_delete' article.id %}">Delete</a>&nbsp;
        <a href="{% url 'article_update' article.id %}">Edit</a>&nbsp;
      </td>
    </tr>
	{% endfor %}
</table>

{% else %}
<p>No articles available.</p>
{% endif %}

<h2>Pictures</h2>
{% if my_pictures %}
<table border=1>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
	{% for picture in my_pictures %}
	<tr>
      <td><a href="{% url 'picture_detail' picture.id %}">{{ picture.title }}</a></td>
      <td>
        <a href="{% url 'item_delete' picture.id %}">Delete</a>&nbsp;
        <a href="{% url 'picture_update' picture.id %}">Edit</a>&nbsp;
      </td>
    </tr>
	{% endfor %}
</table>
{% else %}
<p>No pictures available.</p>
{% endif %}

{% endblock %}
