{% extends "commonplace/base.html" %}

{% block content %}
<h1>{{ picture.title }}</h1>
<p>
  Categories: 
  {% for c in picture.categories.all %}
      <a href="{% url 'items_by_category' c.name %}">{{ c.name }}</a>
  {% endfor %}
</p>
<p>Originally from <a href="{{ picture.url }}">{{ picture.url }}</a></i></p>
<!-- TODO: use username instead of pk for user detail URL -->
<p>Submitted by <a href="{%url 'user_detail' picture.user.pk %}"> {{ picture.user.first_name }} {{ picture.user.last_name }}</a></p>
<p>{{ picture.description }}</p>
<img src = "{{ picture.thumbnail.url }}" />
<div id ="friend1" class= "hiddenDiv">
	<ul>
		
	</ul>
</div>
<div class="fb-share-button" data-href="{{picture.url}}" data-type="box_count"></div>
<div class="fb-comments" data-href="{{ picture.url }}" data-numposts="5" data-colorscheme="light"></div>

{% endblock %}
