{% extends "commonplace/base.html" %}

{% block content %}
<h1>{{ video.title }}</h1>
<p>
  Categories: 
  {% for c in video.categories.all %}
      <a href="{% url 'items_by_category' c.name %}">{{ c.name }}</a>
  {% endfor %}
</p>
<p>Originally from <a href="{{ video.url }}">{{ video.url }}</a></i></p>
<!-- TODO: use username instead of pk for user detail URL -->
<p>Submitted by <a href="{%url 'user_detail' video.user.pk %}"> {{ video.user.first_name }} {{ video.user.last_name }}</a></p>
<p>{{ video.description }}</p>
<img src = "{{ video.screenshot.url }}" />
<div class="fb-share-button" data-href="{{video.url}}" data-type="box_count"></div>
<div class="fb-comments" data-href="{{ video.url }}" data-numposts="5" data-colorscheme="light"></div>
{% endblock %}
